$header-bg:  #c4e344c8;
$body-bg:  #F5EEF8 ;
$footer-col:  #c8cfcf;



// RESETEO CSS
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    color: #010102;
    text-align: center;
    margin: 10px;
    font-style:oblique;
    padding: 30px;
}