$body-bg:  #e4ddcb89;
$header-bg:  #f0d7ed41;
$footer-col:  #c8cfcf;



// RESETEO CSS
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    color: rgb(1, 1, 2);
    text-align: center;
    margin: 10px;
    font-style:oblique;
}