$header-bg:  #ececdd ;
$body-bg:    #f2f2f2;
$footer-col:   #beb5f2;
$intensidad-letra:  400;
$f-size: 1rem;

@mixin flex-column {
    display: flex;
    flex-direction: column;
  }

// RESETEO CSS
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    color: #010102;
    text-align: center;
    margin: 10px;
    font-style:normal;
    padding: 15px;
}