/* Estilos generales */



.textoImagen {
    
    position: relative;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.img__playa {
    display: block;
    width: 100%;
    border-radius: 10px;
    

}

/*----descripcion del p que esta dentro de la imagen --*/
.descripcion {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-weight: $intensidad-letra;
    width: 80%;
}

aside {
    margin: 25px;
}

.lugares {
    padding: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    &__lista {
        font-size: 1.1rem;
        font-weight: $intensidad-letra;
    }
}
h2 {
    font-size: 1.5rem;
    margin-left: 30px;
}


/*----MEDIA QUERY INDEX */
/*----Mobile---*/

@media (max-width: 420px) {
    #titulo__principal {
        display: none;
    }


    .logo {
        align-items: center;
        padding: 10px;
    }

    .navegacion {
        @include flex-column;

    }

    .menu__list {
        @include flex-column;
        align-items: center;
        margin: 0px;
        padding: 0px;
        font-weight: $intensidad-letra;
    }

    
    .lugares {
        display: flex;
        flex-direction: column;
        
        
        &__lista {
            font-size: 0.9rem;
            align-items: center;
        }
    }
    
    
    .descripcion {
        display: none;
    }
}




/*---tablet---*/

@media (max-width: 769px) {
    #titulo__principal {
        display: none;
    }

    .logo {
        align-items: center;
        padding: 10px;
    }

    .navegacion {
        display: flex;
        flex-direction: column;
        background-color: rgb(241, 217, 61);
        margin: 0;
    }

    .descripcion {
        font-size: $f-size;
        width: 80%; 
        margin: 0;
    }
    .inicio {
        display: none;
    }
}

/*---PC---*/

@media (max-width: 1200px) {
    .contenedor {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}