.reserva__checkin {
    text-align: center;
    padding: 20px;
}

.reserva__checkin__descripcion {
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 500;
    font-size: 1.2rem;

}

.formulario {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

//----media query mobile--//
@media (max-width: 420px) {
    .reserva__checkin {
        display: none;
    }
    .reserva__checkin__descripcion {
        display: none;
    }
}

//----- media query tablet---//
@media (max-width: 768px) {

    .reserva__checkin__descripcion {
        margin: 5px;
        font-size: 1rem;
    }
    .formulario {
        max-width: 400px;
    }  
}

//----media query desktop---//
@media (max-width: 1200px) {
    .contenedor {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}